@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
    background-image: url('/public/default-background.png');
    font-family: 'Open Sans', sans-serif;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:     cover;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

.content-box{
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 12px;
  padding: 40px;
  margin-top:70px;
}

.explainer{
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 12px;
  padding: 40px;
  margin: 20px;

  width: 50%;
  margin-left: 50%;
  transform: translate(-50%, 0);
}

a, a:visited{
  color: blue;
}

#app{
  margin: 0 auto;
  max-width: 800px;
}

.input_area{
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0);
}

.input_area input[type=text] {
  border: 2px solid black;
  border-radius: 4px;
  padding: 12px;
  min-width: 400px;
  max-width: 600px;
  margin: 20px;
}

.input_area input[type=button] {
  border: 2px solid black;
  border-radius: 4px;
  padding: 12px;
}

.separator{
  height:50px;
  clear: both;
}
h1{
  text-align: center;
}

h2{
  margin:50px 0 0 0;
}

.nav {
  display: flex;
  justify-content: center;
  padding: 0;
}

.nav li{
  list-style-type: none;
  float: left;
  margin: 0 20px 0 20px;
}

h2{
  clear: both;
  text-align: center;
  margin-bottom: 40px;
}

.rooms {
  text-align: center;
}

.rooms a{
  padding: 20px;
  background-color: white;
  border-radius: 12px;
  border: 1px solid black;
  margin: 20px;
  display:inline-block;
}

.chat_bubble{
    background-color: white;
    padding: 20px;
    margin: 20px;
    width: 60%;
    border-radius: 12px;
    opacity: 0.85;
}

.bot{
  float: left;
}

.user{
  float: right;
}

.name{
    color: gray;
    margin-bottom:12px;
}

.close_room{
  background-color: white;
  padding: 10px;
  position: fixed;
  top: 20px;
  right: 20px;
  opacity:0.5;
  z-index: 4;
}

.close_room img{
  width: 40px;
  margin-bottom: -5px;
}

.avatar{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.avatar-left{
  float: left;
  margin-right: 10px;
}

.avatar-right{
  float: right;
  margin-left: 10px;
}

#success_dialog_overlay{
  display: none;
  position: fixed; /* Sit on top of the page content */
  /*display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.success_dialog{
  display: none;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255, 0.9);
  padding: 50px;
  z-index: 4;
  border-radius:12px;
}

.success_dialog a{
  padding: 20px;
  background-color: white;
  border-radius: 12px;
  border: 1px solid black;
  margin: 20px;
  display: inline-block;
}


#balloon-container {
  display: none;
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  box-sizing: border-box;
  flex-wrap: wrap;
  overflow: hidden;
  transition: opacity 500ms;
  z-index: 4;
}

.balloon {
  height: 125px;
  width: 105px;
  border-radius: 75% 75% 70% 70%;
  position: relative;
  z-index: 4;
}

.balloon:before {
  content: "";
  height: 75px;
  width: 1px;
  padding: 1px;
  background-color: #FDFD96;
  display: block;
  position: absolute;
  top: 125px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 4;
}

.balloon:after {
    content: "▲";
    text-align: center;
    display: block;
    position: absolute;
    color: inherit;
    top: 120px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 4;
  }

@keyframes float {
  from {transform: translateY(100vh);
  opacity: 1;}
  to {transform: translateY(-300vh);
  opacity: 0;}
}